<a href="https://colab.research.google.com/github/Fl4vinh0/financial-data-analysis_and_machine-leaning/blob/main/Taxa_de_retorno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalação e atualização das bibliotecas

In [ ]:
!pip install pandas --upgrade
!pip install numpy --upgrade
!pip install plotly --upgrade

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.7.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)

# Importação das bibliotecas e da base de dados

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

In [ ]:
dataset = pd.read_csv('acoes.csv')
dataset.shape

(818, 7)

In [ ]:
dataset

,Date,GOL,CVC,WEGE,MAGALU,TOTS,IBOVESPA
0,2019-01-02,25.450001,61.099998,8.990000,5.812187,9.531889,87.900002
1,2019-01-03,25.629999,60.709999,9.195000,5.750000,9.751472,88.000000
2,2019-01-04,25.000000,59.950001,9.300000,5.575000,10.020960,88.500000
3,2019-01-07,23.900000,60.700001,9.155000,5.661562,9.804704,88.480003
4,2019-01-08,23.590000,58.709999,9.080000,5.615937,9.405462,88.830002
...,...,...,...,...,...,...,...
813,2022-04-13,17.000000,14.530000,32.560001,6.030000,36.480000,112.519997
814,2022-04-14,16.400000,14.360000,32.290001,6.010000,35.000000,111.650002
815,2022-04-18,15.890000,14.330000,31.910000,5.890000,34.119999,111.459999
816,2022-04-19,16.410000,14.490000,31.370001,5.940000,36.009998,110.919998
817,2022-04-20,16.709999,14.460000,31.559999,5.740000,35.189999,109.860001